<div *ngIf="showplayer" class="alert alert-primary" role="alert">
    <div>
        <span>{{ songPlayed|titlecase }} - {{ album.name }} [{{ album.title|titlecase }}]</span>
    </div>
    <div class="progress">
        <div 
            class="progress-bar" 
            role="progressbar" 
            [style.width]="ratio/duration*100 + '%'" 
            aria-valuenow="" 
            aria-valuemin="0" 
            aria-valuemax="100">
        </div>
    </div>
    <div class="row">
        <span class="col-sm-6">{{ indexSong == 0 ? indexSong+1 : indexSong }} / {{ songs.list.length }}</span>
        <span class="col-sm-6 text-right">{{ ratioTime|date:'mm:ss' }} / {{ toDate(album.duration)|date:'mm:ss' }}</span>
    </div>
</div>